@page "/github"
@page "/github/{userName}"
@using WorkshopApp.Models

<div class="form-group form-inline mt-2">
    <input class="form-control" />
    <button class="btn btn-primary ml-2">Search</button>
</div>

@code {
    [ParameterAttribute]
    string UserName { get; set; }

    Models.UserInfo Data { get; set; }
}